@import url('https://fonts.googleapis.com/css2?family=Poppins&family=Roboto&display=swap');
*{
    margin: 0;
    padding: 0;
    outline: 0;
}
a{
    text-decoration: none;
}
#features, #courses{
    margin: 40px 0;
}
.section-title{
    padding: 0 0 40px 0;
}

/* 
font-family: 'Poppins', sans-serif;
font-family: 'Roboto', sans-serif;
*/

.bg-body-tertiary{
    background: #F0FFF0 !important;
}
.nav-link{
    padding: 8px 20px !important;
    font-family: 'Poppins', sans-serif !important;
    color: black !important;
}
.sign-in{
    padding: 0px 15px !important;
    background-color: #21B573;
    border-radius: 25px;
    font-family: 'Roboto', sans-serif !important;
}

#banner{
    padding: 70px 0;
    font-family: 'Poppins', sans-serif;
    background-color: #F0FFF0;
}
.banner-txt p:first-child{
    color: #FD511A;
}
.banner-txt h1{
    font-size: 48px;
}
.banner-txt span{
    color: #21B573;
}
.banner-txt p:last-child{
    display: inline-block;
    padding: 10px 30px;
    background-color: #21B573;
    border-radius: 33px;
    font-family: 'Roboto', sans-serif;
}
.banner-txt p a{
    color: white !important;
}

.features-content{
    padding: 50px 0;
    border-radius: 10px;
    transition: all 0.5s;
    font-family: 'Poppins', sans-serif;
}
.features-content:hover{
    box-shadow: 0px 0px 20px 0px rgb(211, 210, 210);
    transition: all 0.5s;
}
.features-content h5{
    margin-top: 10px;
}
.features-content p{
    margin: 0;
}

.course-content{
    border: 1px solid black;
    padding: 25px 20px;
    border-radius: 15px;
}
.course-content p{
    margin: 0;
}

#testimonial{
    margin: 40px 0 60px 0;
}
.testimonial-content{
    padding: 0 200px;
}
.testimonial-content p{
    margin: 0 0 0 40px;
}

footer{
    background-color: #282531;
    color: white;
}
.footer-links{
    padding: 40px 0;
}